<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Url Shortner</title>
	<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
</head>

<body id="body">
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav mr-auto">
			<li class="nav-item">
				<a class="nav-link" href="/">Home </a>
			</li>
			<li class="nav-item active">
				<a class="nav-link" href="/a">Admin <span class="sr-only">(current)</span></a>
			</li>
			</ul>

		</div>
	</nav>
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-md-4"></div>
			<div class="col-xs-12 col-md-4">
				<h1 class="text-center">Admin area</h1>
				<% for(var i=0; i<resp.length; i++) {%>
				<div class="card" style="width: 100%; margin-top: 15px;">
					<div class="card-body">
						<h5 class="card-title">ID: <%= resp[i].shortId%></h5>
						<a href="/a/<%= resp[i].shortId%>">More information</a>
					</div>
				</div>
				<% } %>
			</div>
			<div class="col-xs-12 col-md-4"></div>
		</div>

	</div>
	<script src="/js/bootstrap.js"></script>
</body>

</html>