<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Url Shortner</title>
	<link rel="stylesheet" type="text/css" href="../css/bootstrap.min.css">
</head>

<body id="body">
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav mr-auto">
			<li class="nav-item">
				<a class="nav-link" href="/">Home </a>
			</li>
			<li class="nav-item active">
				<a class="nav-link" href="/a">Admin <span class="sr-only">(current)</span></a>
			</li>
			</ul>

		</div>
	</nav>
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-md-3"></div>
			<div class="col-xs-12 col-md-6 text-center">
				<h3>ID: <%= resp.shortId%> - <a href="/<%= resp.shortId%>">Short Link</a></h3>
				<p class="card-text">Visits: <%= resp.visits%></p>
				<ul id="myUL" class="list-group list-group-flush">
					<% for(var i=0; i<resp.occurance.length; i++) {%>
					<li class="text-muted list-group-item" style="font-size: 12px;"><%= resp.occurance[i]%></li>
					<% } %>
				</ul>
			</div>
			<div class="col-xs-12 col-md-3"></div>
		</div>
	</div>
	<script>
		const myList = document.getElementById('myUL').children;
		for (let item in myList) {
			const date =new Date(parseInt(myList[item].textContent));
			myList[item].textContent = `${date.toLocaleDateString()} ${date.toLocaleTimeString()}`
		}
	</script>
	<script src="/js/bootstrap.js"></script>
</body>

</html>